{% extends 'base.html.twig' %}

{% block title %} NAO - Newsletter {% endblock %}

{% block body %}
    <div class="container">
        <div class="row padding-bottom padding-top">
            <div class="col dialog dialog-success">
                un email de confirmation vous a été envoyé
            </div>
        </div>
    </div>
{% endblock %}