/*---- Général ----*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.ariane {
    background-color: rgba(45, 30, 23, 0.78);
}

a {
    color: #4CAF50;
}
.margin-top {
    margin-top: 3.5rem ;
}

.margin-bottom {
    margin-bottom: 2.5rem;
}

.big-header h1 {
    color: #FFFFFF;
    margin: auto;
}

h1 {
    font: 300 4.188em "Open Sans";
}

.little-h1 {
    font-size: 2.92em;
}
.big-header {
    height: 19.6875rem;
    width: 100%;
    background-position: center center;
    background-size: cover!important;
}
.input-form {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

footer {
    margin-bottom: 0 !important;
}

footer h4 {
    font-size: 1.25rem;
}

/*---- popup ----*/
.dialog{
    padding: 15px;
}

.ui-dialog{
    z-index: 998;
}

.ui-dialog-titlebar{
    display: none;
}

.dialog-success{
    color: #155724;
    background-color: #d4edda;
}
.dialog-notice{
    color: #004085;
    background-color: #cce5ff;
}

.dialog-decline{
    color: #721c24;
    background-color: #f8d7da;
}

/*---- newsletter ----*/

.newsletter input{
    color: white;
}

/*---- collapsible research ----*/

.search {
    background-color: #A1887F;
    margin: 0;
    color: #FFFFFF;
    border-bottom: #A1887F;
}

.collapsible {
    margin: 0;
    border-color: #A1887F;
}

/*---- Navigation ----*/

nav {
    z-index: 300;
    background-color: #01796F;
}

.logo {
    height: 58px;
}

@media only screen and (max-width: 640px) {
    nav .brand-logo {
        left: 20%;
        !important;
    }
}
#nav-mobile .active{
   background: rgba(0,0,0,0.1) url("../img/ligne-active.jpg") repeat-x left bottom;
}

#nav-mobile .active .li-search {
    background: rgba(0,0,0,0)
}
/*---- Slider ----*/
.slider {
    height: 51.10vh;
}

.insta {
    background: linear-gradient(#C5316b, #631936);
    border: 3px solid #631936;
    font-weight: bold;
    height: 3.12rem;
}

#fb {
    height: 20px;
    width: 20px;
}

#insta {
    height: 20px;
    width: 20px;
}

.btn-homepage {
    border-radius: 100px;
    background-color: #a1887f;
    width: 230px;
    height: 49.79px;
    align-content: center;
    padding-bottom: 15px;
}

.circle-homepage {
    color: #4CAF50;
}

.fb {
    background: linear-gradient(#3B5998, #1E2DAC);
    border: 3px solid #1E2DAC;
    font-weight: bold;
    height: 3.12rem;
}

.margin-bottom-slide {
    margin-bottom: 3.125rem;
}

/*---- Comment ça marche ----*/

/*.circle-img-homepage {*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*border-radius: 1000px;*/
/*}*/

/*---- Présentation ----*/

.btn-participation {
    border-radius: 100px;
    width: auto;
    height: 49.79px;
    background-color: #6d4c41;
}

.border-green {
    border: #0f9d58 solid 5px;
}

.text_align {
    margin-left: 55px !important;
}

.margin-left {
    margin-left: 1.25em;
}

.margin-right {
    margin-right: 1.25rem;
}

/*---- Participer ----*/

#backgroundPresentation {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-participer-projet.jpg") no-repeat center;
    /*background-image: url("../img/bg-participer-projet.jpg");*/
    background-size: cover !important;
    min-height: 23rem !important;
    color: white;
    background-position-y: center;
}

.padding-top {
    padding-top: 2.25rem;
}

/*---- Last observation ----*/

.card-height {
    height: 34.86rem;
}

.card-radius .card-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-radius{
    border-radius: 15px;
}

.card-image img{
    height: 24.36125rem;
    width: auto;
}

.btn-voir-plus {
    border-radius: 100px;
    width: 14.375rem;
    height: 2.8125rem;
    background-color: #01796F;
}

/*---- Last observation ----*/

.obs-home {
    width: 500px;
}

/*---- Page de connexion ----*/

.link-connexion a{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: #01796F;
}

/*---- Footer ----*/

.icone img {
    height: 4rem;
    width: 4rem;
    border-radius: 15px;
}

footer a {
    font-size: 16px;
}

.block-footer {
    width: 20%;
}
/*---- slide ----*/
.slider, .slides{
    height: 93vh !important;
}

.slides > li > img{
    filter: brightness(50%);
}

.indicators{
    z-index: 2;
    padding-bottom: 20px;
}

.slider .indicators .indicator-item.active {
    background-color: #a1887f;
}

/*---- profile ----*/
.border-teal-bottom{
    border-bottom: #01796F 4px solid;

}

/*----Association presentation ----*/
.sub-title-presentation{
    font-size: 38px;
    line-height: 2;
}

.img-president{
    margin-top: -80px;
}

.bottom-shadow{
    border-bottom: 1px solid #a8a8a8;
    box-shadow: 0px 4px 4px -5px #696969;
}

.text-president{
    padding: 1.25rem;
}

@media only screen and (min-width: 992px){
    .block-president{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .block-president img{
        float: left !important;
        margin-top: -80px;
    }
}


/*---- card custom ----*/

.card-custom{
    padding: 5px 10px !important;
    margin: 10px;
}

.card-author{
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
}

.card-blog .card-title{
    height: 5rem;
}

.card-blog{
    height: 49.5rem;
}

.card-blog .card-image, .card-wait-obs .card-image{
    height: 20em;
    overflow: hidden;
}

.card-blog .card-action, .card-wait-obs .card-action{
    border-top: none;
}

.card-blog .card-bottom{
    position: absolute;
    padding-top: 2.5rem;
    height: 29.5rem;
    /*bottom: 20px;*/
}

.card-blog img, .card-wait-obs img{
    height: 20em;
    min-width: 100%;
    width: auto !important;
}

.card-blog .card-title{
    height: 5rem;
}

.card-blog{
    height: 49.5rem;
}

.card-blog .card-image, .card-wait-obs .card-image{
    height: 20em;
    overflow: hidden;
}

.card-blog .card-action, .card-wait-obs .card-action{
    border-top: none;
}

.card-blog .card-bottom{
    position: absolute;
    padding-top: 2.5rem;
    height: 29.5rem;
    /*bottom: 20px;*/
}

.card-blog img, .card-wait-obs img{
    height: 20em;
    min-width: 100%;
    width: auto !important;
}

.card-wait-obs .card-author{
    padding: 0;
}

.card-wait-obs .card-content{
    padding-bottom: 0;
}

.height-img{
    height: 250px;
    max-width: 100%;
}

card-title-blog{
    margin-top: 2.5rem!important;
    margin-bottom: 1.25rem!important;
}

/*---- card-profile ----*/
.card-profile{
    padding: unset;
}

.card-profile .card-title{
    background-color: #a1887f;
    color: white;
    height: 5rem;
}

.card-profile .card-content{
    height: 15rem;
    color: #807e7f;
}

.card-profile .card-content .col{
    padding-top: 18px !important;
}

.card .card-content {
    padding: 0 !important;
}

/*---- pagination ----*/
.pagination li.active{
    background-color: #01796F;
}

/*---- header ----*/
.header{
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.header-w-img{
    height: 19.6875rem;
}

@media only screen and (max-width: 600px){
    .header-w-img img{
        height: 19.68rem;
        min-width: 100%;
    }
    .header{
        border-bottom: 1px black solid;
    }
}


.header-img{
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

.header-text{
    margin: 2.5rem 0;
}

/*---- breadcrumb ----*/
.breadcrumb-bl{
    padding: 0 10px;
    background-color: #645955;
}

/*---- modal ----*/
.modal-footer{
    text-align: center !important;
}

/*---- article ----*/
.mce-tinymce{
    margin: 15px 0 !important;
}

/*---- certifié ----*/
.title-certify{
    font-size: 40px;
}

/*---- commun ----*/

.margin-t, .container {
    margin-top: 20px;
}

/*---- Page d'ajout Observation----*/

.file-label {
    top: 0px!important;
}

#date-div{
    display: none;
}

/*---- Page Especes----*/
.big-header {
    height: 19.6875rem;
    width: 100%;
    background-position: center center;
    background-size: cover!important;
}

#species_header {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url("../img/bg-especes.jpg");
    background-position: center center;
}

.height-tabs {
    min-height: 11.9375rem;
}

#height-species-img {
    height: 140px !important;
}

.no-mad-bot {
    margin-bottom: 0 !important;
}

#again-mesure {
    height: 295px;
    width: 295px;
}

.card-image-species img {
    height: 15.5625rem;
    width: 15.5623rem;
}

@media only screen and (max-width: 640px) {

    .card-image-species img {
        height: inherit;
        width: inherit;
    }
}

.card-species {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    height: 23.689rem;
    width: 15.563rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card .card-content-species {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.card .card-content-species p {
    margin: 0;
}

.card .card-content-species .card-title-species {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
}

.card .card-content-species .card-title-species i {
    line-height: 32px;
}


/*---- Map----*/

#map{
    height: 42.0625rem;
    max-width: 66.5rem;
    margin: auto;
}

#mapObser {
    height: 200px;
}

/*#observation-map {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    margin: auto;
    background-color: #FFFFFF;
}*/
#map-observation {
    height: 42.0625rem;
    max-width: 66.5rem;
    margin: 0;
}

#mapSpecies {
    height: 13rem;
    width: 100%;
}

.map {
    height: 31.25rem;
    width: 100%;
    margin: auto;
    z-index: 1;
}
#observation-map {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    margin: auto;
    background-color: #FFFFFF;
    max-width: 66.5rem;
    box-shadow: 0 0 30px;
}

#mapContact {
    height: 31.25rem;
    z-index: 300;
}

#bloc-map {
    padding: 0;
}

@media only screen and (min-width: 992px){
    .container{
        width: unset;
        max-width: 85.375rem;
    }
}

.full-height{
    min-height: 93vh;
}

.full-width{
    width: 100%;
}

.margin-t{
    margin-top: 2.5rem;
}

.margin-b{
    margin-bottom: 2.5rem;
}

.border-teal{
    border: #01796F 4px solid;
}

.link-teal a{
    color: #01796F;
}

.link-teal a:hover{
    color: #01796F;
}

.link-black a, a[class*="link-black"]{
    color: black;
}

.link-black a:hover, a[class*="link-black"]:hover{
    color: black;
}

.lighter{
    font-weight: 300;
}

.text-justify{
    text-align: justify;
}

.padding-15{
    padding: 15px;
}

/*---- button ----*/
.btn{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.btn-brown{
    background: linear-gradient(#a1887f, #514440);
    border: 3px solid #514340;
    font-weight: bold;
    height: 3.12rem;
}

.btn-teal{
    background: #01796F;
}

.btn-round{
    border-radius: 100px;
    min-width: 14.3rem;
    margin: 0 1.25rem;
    text-transform: none;
}

.btn-search {
    border-radius: 100px;
    width: 200px;
    background-color: #01796F;
}

.btn-species {

}

.file-btn {
    height: 1.75rem!important;
    line-height: 1.75rem!important;
    margin-top: 1.25rem!important;
}

.margin-bottom-light {
    margin-bottom: 1.25rem!important;
}

/*---- Footer ----*/

.icone img {
    height: 65px;
    width: 65px;
}

footer {
    background-color: #01796F;
    width: 100%;
}

footer a, footer h4 {

    color: white;
}

.padding-bottom {
    padding-bottom: 2.25rem;
}


/*---- Page d'ajout Observation----*/

.file-label {
    top: -1.75em !important;
;
}

/*---- Birds ----*/


#species_header {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),url("../img/bg-especes.jpg");
    background-position: center center;
}
.card-species {
    height: 23.689rem!important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.image-species {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image-species img {
    height: 15.5625rem!important;
    /*max-width: 15.5625rem!important;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title-species {
    font-size: 1.25rem!important;
}

/*---- Specie page ----*/

.specie-picture {
    max-width: 36.25rem;
    max-height: 36.25rem;
    overflow: hidden;
}

.specie-observation {
    width: 100%;
    height: auto;
}

.taxo-family {
    padding-left: 20px;
}

.taxo-specie {
    padding-left: 40px;
}

/*---- My observations ----*/

.container-my-observations {
    /*max-width: 1366px;*/
    margin-top: 2.5rem;
}
.title-card-my-observations {
    font: 300 1.25em "Roboto";
    padding-left: 10px;
}

.content-card-my-observations {
    font: 300 1.25em "Roboto";
    padding-left: 10px;
    font-style: italic;
}

.maroon {
    background-color:#A1887F;
}

/* Donation*/

.cadre-gris {
    background-color: rgba(219, 216, 215, 0.76);
    text-align: center;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}


/*---- Legal mentions ----*/
.mentions {
    width: 80%;
}

.mentions-text {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.mentions-li {
    list-style-type: disc!important;
    margin-left: 3.75rem;
    margin-right: 1.25rem;
}

.mentions-h4 {
    margin-left: 2.5rem;
    margin-right: 1.25rem;
}

/*---- collapsible faq----*/
.for-collapsible {
    padding-left: 1rem!important;
}

.faq {
    background-color: white;
    margin: 0;
    color: #212121;
    border: white;
}

.faq-collapsible {
    /*border-top-style: none!important;*/
}

#bloc-map {
    padding: 0;
}

/*---- 404 page ----*/
.error-text {
    font: 300 2.0em "Roboto";
}

.error-header {
    border-bottom: 3px #01796F solid;
    padding-bottom: 2.5rem;
}