/*---- Général ----*/

.ariane {
    background-color: rgba(45, 30, 23, 0.78);
}

a {
    color: #4CAF50;
}
.margin-top {
    margin-top: 2.5rem ;
}

.margin-bottom {
    margin-bottom: 2.5rem;
}

/*---- Navigation ----*/

nav {
    background-color: #01796F;
}

.logo {
    height: 62px;
}

/*---- Slider ----*/
.slider {
    height: 51.10vh;
}

.insta {
    background-color: #af2840 !important;
}

#fb {
    height: 30px;
    width: 30px;
    margin: 2px;
}

#insta {
    height: 30px;
    width: 30px;
    margin: auto;
}

.btn-homepage {
    border-radius: 100px;
    background-color: #a1887f;
    width: 230px;
    height: 49.79px;
}

.circle-homepage {
    color: #4CAF50;
}

.fb {
    background-color: #0D47A1;
}

.margin-bottom-slide {
    margin-bottom: 3.125rem;
}

/*---- Comment ça marche ----*/

.circle-img-homepage {
    width: 300px;
    height: 300px;
    border-radius: 1000px;
}

/*---- Présentation ----*/

.btn-participation {
    border-radius: 100px;
    width: auto;
    height: 49.79px;
    background-color: #6d4c41;
}

.border-green {
    height: 37.5rem !important;
    width: 37.5rem !important;
    border: #0f9d58 solid 5px;
}

.text_align {
    margin-left: 55px !important;
}

.margin-left {
    margin-left: 1.25em;
}

.margin-right {
    margin-right: 1.25rem;
}

/*---- Participer ----*/

#backgroundPresentation {
    background-image: url("../img/bg-participer-projet.jpg");
    background-size: cover !important;
    height: 23rem !important;
    color: white;
    background-position-y: center;
}

.padding-top {
    padding-top: 2.25rem;
}

/*---- Last observation ----*/

.card-height {
    height: 34.86rem;
}

.card-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card {
    border-radius: 15px;
}
.card-image img{
    height: 24.36125rem;
    width: auto;
}

.btn-voir-plus {
    border-radius: 100px;
    width: 14.375rem;
    height: 2.8125rem;
    background-color: #01796F;
}

/*---- Last observation ----*/

.obs-home {
    width: 500px;
}

/*---- Page de connexion ----*/

.btn-connexion {
    border-radius: 100px;
    width: 200px;
    background-color: #4CAF50;
}

/*---- Footer ----*/

.icone img {
    height: 65px;
    width: 65px;
}

footer {
    background-color: #01796F;
}

footer a, footer h4 {

    color: white;
}

.padding-bottom {
    padding-bottom: 2.25rem;
}

/*---- Page d'ajout Observation----*/

.file-label {
    top: -1.75em !important;
;
}

/*---- Page d'ajout Observation----*/
#map{
    width: 66.5rem;
    height: 42.0625rem;
}