/*---- Général ----*/

.ariane {
    background-color: rgba(45, 30, 23, 0.78);
}

a {
    color: #4CAF50;
}
/*---- Navigation ----*/

nav {
    background-color: #4CAF50;
}

.logo {
    height: 62px;
}

/*---- Slider ----*/
.slider {
    height: 864px;
}

.btn-homepage {
    border-radius: 100px;
    background-color: #a1887f;
    width: 200px;
}

.circle-homepage {
    color: #4CAF50;
}

/*---- Comment ça marche ----*/

.circle-img-homepage {
    width: 250px;
    height: 250px;
    border-radius: 1000px;
}


/*---- Page de connexion ----*/

.btn-connexion {
    border-radius: 100px;
    width: 200px;
    background-color: #4CAF50;
}

/*---- card custom ----*/

.card-custom{
    padding: 5px 10px !important;
    margin: 10px;
}

.height-img{
    height: 250px;
    max-width: 100%;
}

/*---- pagination ----*/
.pagination li.active{
    background-color: #01796F;
}

/*---- header ----*/
.header{
    position: relative;
    height: 19.68rem;
    overflow: hidden;
}

.header-img{
    position: absolute;
    z-index: -1;
}

.header-text{
    font-size: 50px;
}