/*---- Général ----*/

.ariane {
    background-color: rgba(45, 30, 23, 0.78);
}

a {
    color: #4CAF50;
}
/*---- Navigation ----*/

nav {
    background-color: #4CAF50;
}

.logo {
    height: 62px;
}

/*---- Slider ----*/
.slider {
    height: 864px;
}

.btn-homepage {
    border-radius: 100px;
    background-color: #a1887f;
    width: 200px;
}

.circle-homepage {
    color: #4CAF50;
}

/*---- Comment ça marche ----*/

.circle-img-homepage {
    width: 250px;
    height: 250px;
    border-radius: 1000px;
}


/*---- Page de connexion ----*/

.btn-connexion {
    border-radius: 100px;
    width: 200px;
    background-color: #4CAF50;
}

/*---- card custom ----*/

.card-custom{
    padding: 5px 10px !important;
    margin: 10px;
}