{% extends 'base.html.twig' %}

{% block title %}Article - NAO{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            {#Contenue article#}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus tempor finibus. Aenean posuere,
                ipsum accumsan aliquet ullamcorper, massa felis posuere lorem, in condimentum quam erat sed ante.
                Donec aliquam mattis convallis. Proin mollis maximus vestibulum. Pellentesque ut ligula vulputate,
                faucibus urna a, cursus nulla. Suspendisse ultrices dignissim nisl eu dapibus. Pellentesque risus nibh,
                posuere eget mi et, bibendum pellentesque justo. Sed ac consequat orci. Quisque in velit nisl.
                Fusce finibus euismod convallis. Pellentesque dictum dui vel ex hendrerit elementum. Donec vestibulum
                magna mi, id blandit libero tempor ac. Pellentesque gravida turpis metus, ut eleifend mauris tempor a.
                Etiam sed dignissim nulla, quis dapibus justo.
            </p>
            <p>
                Suspendisse potenti. Integer ut purus sed metus placerat tincidunt vestibulum tristique nisl.
                Phasellus augue risus, sodales ut mattis at, vestibulum at sem. Sed sed lobortis nisi, sit amet
                facilisis magna. Cras dapibus pretium rutrum. Integer nec dui vel quam faucibus mollis quis
                faucibus nisi. Maecenas convallis viverra aliquet.
            </p>
            <p>
                Fusce pretium fermentum mauris et placerat. Pellentesque facilisis enim vitae diam feugiat,
                eget mattis augue vehicula. Nunc in ante a mauris fringilla aliquam. Donec auctor imperdiet iaculis.
                Donec consequat ex tellus, non placerat mauris sollicitudin sit amet. Praesent sit amet sapien
                elementum, viverra mi quis, condimentum erat. Phasellus quis ornare nulla. Proin a est diam. Curabitur
                at eleifend odio, ut semper orci. Cras consequat, felis a commodo ultricies, nunc nulla interdum
                sapien, sed gravida augue mauris vel sapien. Nulla facilisi. Maecenas fermentum porttitor consequat.
                Nulla vel velit at purus pellentesque sagittis. Nulla maximus rutrum urna, at hendrerit mauris
                venenatis quis. Fusce facilisis placerat lectus, nec dictum libero varius vel. Nulla sed turpis a
                ligula efficitur ullamcorper.
            </p>
        </div>
    </div>
{% endblock %}