{% extends 'base.html.twig' %}

{% block title %}Article - NAO{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div>
                    {{ article.content }}
                </div>
                <p class="center">Auteur / {{ article.publishingDate|date("d/m/Y") }}</p>
            </div>
        </div>
    </div>
{% endblock %}