{% extends 'base.html.twig' %}

{% block title %}Blog - NAO{% endblock %}

{% block body %}
    <div class="row">
        {% for article in articles%}
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="http://via.placeholder.com/350x150" alt="article_">
                </div>
                <div class="card-content">
                    <p class="center card-title">{{ article.title }}</p>
                    <p class="center">Auteur - {{ article.publishingDate|date("d/m/Y") }}</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet eros ut nunc hendrerit pretium id eu orci. Sed tristique eros in nunc tristique tristique. Vestibulum varius nulla id nisi lobortis, ac auctor lectus aliquet. Ut rutrum volutpat.
                    </p>
                </div>
                <div class="center card-action">
                    <a href="{{ path('blog-article', {'id': article.id}) }}" class="btn">Lire la suite</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}