{% extends 'base.html.twig' %}

{% block title %} Espèces {% endblock %}

{% block body %}
    <div class="valign-wrapper big-header" id="species_header">
        <h1>Espèces</h1>
    </div>
    <div>
        <nav class="ariane">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">Accueil</a>
                    <a href="{{ path('oiseaux') }}" class="breadcrumb">Espèces</a>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Rechercher<i class="material-icons">expand_more</i></div>
                <div class="collapsible-body"><span>
                    <p>tidammm</p>
                </span></div>
            </li>
        </ul>
    </div>
    <br/>
    <br>
{% endblock %}