{% extends 'base.html.twig' %}

{% block title %}Nous contacter - NAO{% endblock %}

{% block body %}
    {{ include('common/header.html.twig', {'asset' : 'assets/img/bg-contact.jpg', 'alt' : 'header_blog', 'title' : 'Nous contacter'}) }}
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
    <div class="row valign-wrapper">
        <div class="col s12 l3 center-align grey-text">
            <div>
                <p>10 rue de la résistance</p>
                <p>17000 BORDEAUX</p>
            </div>
            <div class="padding-top">
                <p>0X XX XX XX XX</p>
            </div>
        </div>
        <div class="col s12 l9 grey lighten-3" style="height: 31.25rem;">

        </div>
    </div>
    <div class="container">

    </div>
{% endblock %}