{% extends 'base.html.twig' %}

{% block title %} FAQ {% endblock %}

{% block body %}
<div class="center">
    <h1 class="header-text">Foire aux questions</h1>
</div>
<div >
    {{ include('common/breadcrumb.html.twig', {'breadcrumb' : breadcrumb }) }}
</div>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><h4 class="lighter">Comment ajouter une observation ?<i class="material-icons for-collapsible">expand_more</i></h4></div>
            <div class="collapsible-body">
                <span>
                    Pour ajouter une observation, vous devez tout d’abord vous connecter au site puis rendez-vous sur la page de création d’une observation. Il vous suffira simplement d’ajouter le lieu, la date, l’espèce observée et la photo. Enfin après avoir renseigné ces informations, cliquez sur le bouton « Soumettre l’observation » pour proposer votre saisie.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><h4 class="lighter">Pourquoi mon observation n’est pas publiée ?<i class="material-icons ">expand_more</i></h4></div>
            <div class="collapsible-body">
                <span>
                    Votre observation n’est pas publiée automatiquement, celle-ci requiert la validation d’un naturaliste. Vous pouvez voir vos observations sur votre espace, tant que vos observations sont dans l’onglet « En attente », celles-ci ne sont pas encore publiées.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><h4 class="lighter">Mon observation a été rejetée, pourquoi ?<i class="material-icons">expand_more</i></h4></div>
            <div class="collapsible-body">
                <span>
                    Ce cas arrive dans le cadre où le naturaliste a refusé votre demande. Si un naturaliste refuse votre observation, il peut y avoir plusieurs raisons à cela : photo incorrecte, données erronnées ou incomplètes. Mais soyez rassuré, vous pourrez toujours la proposer de nouveau après avoir corrigé les saisies erronées.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><h4 class="lighter">Je souhaite contribuer à l’évolution du site, comment faire ?<i class="material-icons">expand_more</i></h4></div>
            <div class="collapsible-body">
                <span>
                    Tout d’abord, merci de l’intérêt que vous portez au projet et à l'association ! Pour nous aider, rien de plus simple :  vous pouvez faire un don grâce à la page « Faire un don » ou adhérer à l'association par le biais du formulaire de contact.

Tout le monde n'a pas la possibilité de faire un don, sachez que faire vivre le site c'est participer à son évolution.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header faq"><h4 class="lighter">Comment obtenir un compte naturaliste ?<i class="material-icons">expand_more</i></h4></div>
            <div class="collapsible-body">
                <span>
                    Vous devez tout d'abord créer un compte classique sur le site puis faire la demande d'évolution vers un compte naturaliste via le bouton « Demande de naturaliste » sur votre profil. Sur la page de demande, des documents pour attester de ce statut vous seront réclamés, pensez-donc à prévoir vos diplômes et vos attestations.
                </span>
            </div>
        </li>
    </ul>


{% endblock %}