{% extends 'base.html.twig' %}

{% block title %}Accueil - NAO{% endblock %}

{% block body %}
        {% block slider %}
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('assets/img/bg-accueil.jpg') }}" alt="Accueil"> <!-- Accueil image -->
                        <div class="caption center-align">
                            <h3>Nos Amis les Oiseaux</h3><br/>
                            <div class="center-align">
                                <button class="btn btn-homepage">Inscrivez-vous ></button>
                                <button class="btn btn-homepage">Découvrir ></button>
                                <br/>
                                <a class="circle-homepage section scrollspy" href="#commentCaMarche"><i class="medium material-icons">arrow_drop_down_circle</i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/bg-restez-informes.jpg') }}" alt="Restez informer"> <!-- Informez vous image -->
                        <div class="caption left-align">
                            <input type="email" placeholder="Inscrivez-vous à la Newsletter">
                            <button class="btn btn-homepage">S'inscrire</button>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('assets/img/bg-suivez-nous.jpg') }}" alt="Suivez nous"> <!-- Suivez nous image -->
                        <div class="caption right-align">
                            <button class="btn btn-homepage">Rejoingnez-nous <i class="smal material-icons">inbox</i></button>
                            <button class="btn btn-homepage">Suivez-nous <i class="small material-icons">info</i></button>
                        </div>
                    </li>
                </ul>
            </div>
        {% endblock %}


{% endblock %}