<nav>
    <div class="nav-wrapper">
        <div class="col s12 breadcrumb-bl">
            <a href="{{ path('homepage') }}" class="breadcrumb">Accueil</a>
            {% for link in breadcrumb %}
                <a href="{{ path(link.route, link.parameters) }}" class="breadcrumb">{{ link.name }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
