<div class="row header valign-wrapper">
    <div class="header-img">
        <img src="{{ asset( asset ) }}" alt="{{ alt }}" class="responsive-img">
    </div>
    <div class="header-text center-align col s12">
        <span class="white-text center">{{ title }}</span>
    </div>
</div>