<div class="row header {% if asset is defined %}header-w-img{% endif %} valign-wrapper">
    {% if asset is defined %}
        <div class="header-img">
            <img src="{{ asset( asset ) }}" alt="{{ alt }}" class="responsive-img">
        </div>
    {% endif %}
    <div class="header-text center-align col s12 lighter">
        {% if asset is defined %}
            <h1 class="white-text center">{{ title }}</h1>
        {% else %}
            <h1 class="center">{{ title }}</h1>
        {% endif %}
    </div>
</div>