{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="dialog dialog-{{ label }}" style="background: #a21318">
            <div class="container">
                <div class="row valign-wrapper">
                    <p class="col"><i class="material-icons">info_outline</i></p>
                    <p class="col"> {{ message }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}