<ul class="pagination">
    <li><a href="#"><i class="material-icons">chevron_left</i></a></li>
    {% for i in 1..pagination.NbrePage %}
        <li><a href="#">{{ i }}</a></li>
    {% endfor %}
    <li><a href="#"><i class="material-icons">chevron_right</i></a></li>
</ul>