<ul class="pagination">
    <li {% if pagination.first %}class="disabled" {% endif %}>
        <a href="#"><i class="material-icons">chevron_left</i></a>
    </li>
    {% for i in paginaion.offset..(paginaion.offset+pagination.nbrePageDisplay-1) %}
        <li {% if paginaion.position == i%}class="active" {% endif %}>
            <a href="{{ path(pagination.route, pagination.paramRoute|merge({'page' : i})) }}">{{ i }}</a>
        </li>
    {% endfor %}
    <li {% if pagination.last %}class="disabled" {% endif %}>
        <a href="#"><i class="material-icons">chevron_right</i></a>
    </li>
</ul>